.btn {
  cursor: pointer;
  padding: 1em 2em;
  outline: none;
  border: 1px solid #ccddf9;
  background-color: #d8e4f7;

  &:hover {
    box-shadow: 0 0 2em #cccccc;
  }

  &.danger {
    padding: .8em 1.4em;
    color: #ffffff;
    background-color: #ff3374;
    border: 1px solid #ff3374;
    &:hover {
      background-color: #f39595;
      border: 1px solid #f39595;
    }
  }

  &.success {
    padding: .8em 1.4em;
    color: #333333;
    background-color: #00d490;
    border: 1px solid #00d490;
    &:hover {
      border: 1px solid #97f7d4;
      background-color: #97f7d4;
    }
  }
  &.outline {
    font-size: 1em;
    border: 1px solid transparent;
    background-color: transparent;
    &.btn-delete {
      color: #f11818;
      &:hover {
        box-shadow: 0 0 2em transparent;
        box-shadow: none;
        color: #f58080;
        background-color: transparent;
        border: 1px solid #f0f1fd;
      }
    }
    &.btn-edit {
      color: #4671f3;
      &:hover {
        box-shadow: 0 0 2em transparent;
        box-shadow: none;
        color: #809cf1;
        background-color: transparent;
        border: 1px solid #f0f1fd;
      }
    }
  }

  &:active {
    box-shadow: 0 0 1em #cccccc;
  }
}