.btn {
  cursor: pointer;
  padding: 1em 2em;
  outline: none;
  border: 1px solid #ccddf9;
  background-color: #d8e4f7;

  &.danger {
    padding: .8em 1.4em;
    color: #ffffff;
    background-color: #fb7e7e;
    border: 1px solid #fb7e7e;
  }

  &.success {
    padding: .8em 1.4em;
    color: #333333;
    background-color: #01ce09;
    border: 1px solid #01ce09;
  }

  &:hover {
    box-shadow: 0 0 2em #cccccc;
  }

  &:active {
    box-shadow: 0 0 1em #cccccc; 
  }
}