.navigation {
  .nav-logo {
    display: block;
    width: 70px;
    height: 73px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background: url(./assets/logo.png) no-repeat;
  }
  
  ul.navitation-container {
    list-style: none;
    margin: auto;
    padding: 0;
    background: #888bfa;

    li {
      display: inline-block;
      // margin-right: 1em;

      a {
        padding: 1.5em;
        display: block;
        text-decoration: none;
        color: #000000;

        &:hover {
          background: #c1c3fa;
        }

        &.active {
          color: #ffffff;
          background: #adaff9;
        }
      }
    }
  }
}