.new-container {
  padding-top: 0;
  .form-container {
    
  }
  form {
    top: 4em;
    padding: 3em 0;
    display: flex;
    position: sticky;
    z-index: 100;
    width: 100%;
    margin-top: 6em;
    background-color: #e9eaf8;
    border-bottom: 1px solid #cccccc;
    label {
      span {
        display: block;
        margin-bottom: .5em;
      }
    }
    .btn-container {
      position: relative;
      margin-top: 4.5em;
      .btn-add-employee {
        position: absolute;
        bottom: 0;
        width: 12em;
      }
    }
  }
  .items-container {
    width: 21em;
    &.checkbox-container {
      label {
        width: 6em;
        margin-left: .5em;
        margin-bottom: 0.5em;
        display: inline-block;
      }
    }
  }
  table.list {
    display: block;
    width: 100%;
    margin-top: 1em;
    z-index: 99;
    tr {
      display: block;
      padding: .5em;
      border-bottom: 1px solid #CCCCCC !important;
    }
    thead {
      display: block;
      tr {
        padding-bottom: 1.5em;
        th {
          width: 15em;
          text-align: left;
        }
      }
    }
    tbody {
      display: block;
      tr {
        &:hover {
          box-shadow: 0 0 1em #cccccc;
          // background-color: #f0f1fd;
        }
        td {
          width: 15em;
          &.actions {
            width: 45em;
            text-align: right;
            button {
              margin-right: .2em;
            }
          }
        }
      }
    }
  }
}