.new-container {
  form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
    label {
      span {
        display: block;
        margin-bottom: .5em;
      }
    }
    .btn-container {
      position: relative;
      margin-top: 4.5em;
      .btn-add-employee {
        position: absolute;
        bottom: 0;
        width: 12em;
      }
    }
  }
  .items-container {
    &.checkbox-container {
      label {
        width: 6em;
        margin-left: .5em;
        margin-bottom: 0.5em;
        display: inline-block;
      }
    }
    width: 21em;
  }
  table.list {
    display: block;
    border-top: 1px solid #ccc;
    width: 100%;
    padding-top: 1em;
    margin-top: 10em;
    tr {
      display: block;
      padding: .5em 0;
      border-bottom: 1px solid #CCCCCC !important;
    }
    thead {
      display: block;
      tr {
        padding-bottom: 1.5em;
        th {
          width: 15em;
          text-align: left;
        }
      }
    }
    tbody {
      display: block;
      tr {
        &:hover {
          background-color: #f0f1fd;
        }
        td {
          width: 15em;
          &.actions {
            text-align: right;
            button {
              margin-right: .2em;
            }
          }
        }
      }
    }
  }
}