body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9eaf8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link {
  font-size: .9em;
  text-decoration: none;
}

.margin-left {
  margin-left: 1em;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 5em;
  height: 2em;
}
.notfound {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2em;
  text-align: center;
}
a {
  text-decoration: none;
}
.logos {
  background-repeat: no-repeat;
  background-position: 5em 3.9em;
  &.jira {
    background-image: url(./components/assets/jira.png);
  }
  &.confluence {
    background-image: url(./components/assets/confluence.png);
  }
  &.bitbucket {
    background-image: url(./components/assets/bitbucket.png);
  }
  &.facebook {
    background-image: url(./components/assets/facebook.png);
  }
  &.gitlab {
    background-image: url(./components/assets/gitlab.png);
  }
  &.gmail {
    background-image: url(./components/assets/gmail.png);
  }
  &.google-clouds,
  &.google-cloud,
  &.cloud,
  &.clouds {
    background-image: url(./components/assets/google-clouds.png);
  }
  &.linkedin {
    background-image: url(./components/assets/linkedin.png);
  }
  &.reddit {
    background-image: url(./components/assets/reddit.png);
  }
  &.skype {
    background-image: url(./components/assets/skype.png);
  }
  &.slack {
    background-image: url(./components/assets/slack.png);
  }
  &.twitter {
    background-image: url(./components/assets/twitter.png);
  }
  &.github {
    background-image: url(./components/assets/github.png);
  }
  &.microsoft,
  &.azure,
  &.office,
  &.microsoft-azure {
    background-image: url(./components/assets/microsoft.png);
  }
  &.onedrive,
  &.one-drive,
  &.one {
    background-image: url(./components/assets/onedrive.png);
  }
  &.dropbox {
    background-image: url(./components/assets/dropbox.png);
  }
  &.drive,
  &.google-drive {
    background-image: url(./components/assets/drive.png);
  }
  &.apple {
    background-image: url(./components/assets/apple.png);
  }
  &.icloud {
    background-image: url(./components/assets/icloud.png);
  }
  &.invision,
  &.invisionapp,
  &.invision-app {
    background-image: url(./components/assets/invision.png);
  }
  &.sketch {
    background-image: url(./components/assets/sketch.png);
  }
  &.photoshop {
    background-image: url(./components/assets/photoshop.png);
  }
  &.aws {
    background-image: url(./components/assets/aws.png);
  }
  &.spotify {
    background-image: url(./components/assets/spotify.png);
  }
  &.vmware, &.vm-ware, &.vm {
    background-image: url(./components/assets/vmware.png);
  }
  &.heroku {
    background-image: url(./components/assets/heroku.png);
  }
  &.docker {
    background-image: url(./components/assets/docker.png);
  }
  &.digitalocean, &.digital-ocean, &.digital {
    background-image: url(./components/assets/digitalocean.png);
  }
  &.kubernetes {
    background-image: url(./components/assets/kubernetes.png);
  }
  &.sharepoint,
  &.share-point,
  &.share {
    background-image: url(./components/assets/sharepoint.png);
  }
  &.pluralsight {
    background-image: url(./components/assets/pluralsight.png);
  }
  &.firebase {
    background-image: url(./components/assets/firebase.png);
  }
  &.timeoff,
  &.time-off,
  &.timeOff,
  &.TimeOff {
    background-image: url(./components/assets/timeoff.png);
  }
}
.error {
  margin-bottom: 1em;
  color: #f90624;
}
.container {
  padding: 7em 6em 5em 6em;
  form {
    label {
      display: inline-block;
      width: 22em;
      color: #6f6c6c;
      font-weight: bold;
    }
    input[type='checkbox'] {
      vertical-align: top;
    }
    .checkbox-container {
      margin-top: 1em;
      margin-bottom: 1em;
      div {
        display: inline-block;
        width: 8em;
      }
    }
  }
}

@import './styles/inputs.scss';
@import './styles/utilities.scss';
